@charset "utf-8";
/* CSS Document */


@font-face {
  font-family: "Evogria";
  src: url("Evogria.otf") format("Opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Evogria";
  src: url("Evogria\ Italic.otf") format("Opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TTInterfaces";
  src: url("TTInterfaces-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTInterfaces";
  src: url("TTInterfaces-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



body {
  font-family: "Evogria"; overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Evogria';
  font-style: normal;
}
p {
  font-family: "TTInterfaces";
  font-size: 16px; text-transform: uppercase; font-weight: 500; line-height: 24px; color: #2a2a2a;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
a:hover {
  text-decoration: none;
}
button:focus, button:hover{ box-shadow: none !important;}


/* Common CSS */
.desk-view {
  display: block !important;
}
.mob-view {
  display: none !important;
}
.desk-tab-view{ display: block;}
.tab-mob-view{ display: none;}




.navbar-collapse { justify-content: right; }
.navbar-nav .nav-item{ margin-right: 15px;}
.navbar-nav .nav-item:last-child{ margin-right: 0;}
.navbar-nav .nav-item a{ font-size: 15px; letter-spacing: 0.8px; color: #2a2a2a;}
.navbar-nav .nav-link { color: #2a2a2a !important;}




.section{ position: relative; }

.banner-section{ position: relative; height: 80vh;}
.bnrrw{ display: flex; align-items: center;}
.banner-content{ height: 80vh; display: grid; padding-right: 0; /* flex-direction: column; flex-wrap: wrap; align-items: center; 
  align-content: space-between; */ padding-left: 9.4%;}
.bannerlogo{}
.bannertext{}
h1.bannertirle{ font-size: 117px; line-height: 100px;}
.subtitle{ font-size: 17.5px; letter-spacing: 5px; margin-bottom: 30px;}
.bannertext p{ max-width: 75%; margin-top: 55px; text-transform: uppercase; font-weight: 500; line-height: 24px;}
.banner-btn{ position: relative;}
.globalbtn{ position: relative; color: #47baae; font-size: 17.5px; letter-spacing: 1px; padding: 0;}
.globalbtn::after {
  border-top: 2px solid #47baae;
  content: "";
  margin: 5px 0;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 160%;
  z-index: -1;
}

.banner-imgcon{ position: relative; padding: 0; height: 80vh;}
.banrfullimg{ width: 100%; height: 100%;}
.banrfullimg img{ width: 100%; height: 100%; object-fit: cover;}
.shapes{ position: absolute; bottom: 0;}
.shapes.left{ left: 0;}
.shapes.right{ right: 0;}


.aboutus-section .banner-imgcon{  height: 75vh;}
.aboutcon{ height: 75vh; display: grid; padding: 80px 100px; background-color: #ecfffd;}
h2.maintitle{ font-size: 82px; line-height: 70px;}
.aboutcon p{ max-width: 85%;}
.shapes .banner-btn{ position: absolute; bottom: 30px; left: 50px;}
.aboutus-section .globalbtn::after{ width: 130%; z-index: 0;}


.service-section{ padding-top: 120px;}
.servicecon{ height: 100%; /* display: grid; */ padding-right: 0; padding-left: 9.4%;}
.servicecon h2.maintitle{ }
.servicecon p{ max-width: 100%;}
.servicecon .globalbtn{ margin-top: 50px;}
.servclist-col{ padding-left: 5%;}
.servcslist{ padding-right: 15px;}
.serviceitem{ background-color: #fff; box-shadow: -5px 7px 10px 10px  #3b4e5c59;}
.srvcimg{ width: 100%; height: 235px;}
.srvcimg img{ width: 100%; height: 100%; object-fit: cover; 
  clip-path: polygon(0% 0%, 0% 100%, 100% 60%, 100% 0%); }
.srvctext{}
.srvctext h3{ font-size: 50px; padding: 15px;}
.srvctext h3 i{ font-size: 30px; margin-left: 15px; font-weight: 300;}
.servclist-col .shapes{ z-index: -1; bottom: -30px;}
.servclist-col .shapes img{ max-width: 90%; float: right;}
.servclist-col .shapes.right{}


.project-section{ padding-top: 150px; }
.project-section .container-fluid{ padding-left: 60px; padding-right: 60px;}
.projcthdr .bannertext{ text-align: center; margin-bottom: 70px; }
.projcthdr .bannertext h1.maintitle{ font-size: 82px;}
.projcthdr .bannertext .subtitle { margin-bottom: 15px; }
.projctcarousel{ }
.projctcarousel .owl-dots{ text-align: right !important;}
.projctcarousel .owl-dots .owl-dot{}
.projctcarousel .owl-dots .owl-dot span{ border-radius: 0 !important; border: 1px solid #47baae; background-color: transparent !important;}
.projctcarousel .owl-dots .owl-dot.active span{ background-color: #47baae !important;}
.prjctimg{ box-shadow: 0 3px 15px -1px #3b4e5c59;}
.prjctimg img{}
.prjcttext{}
.prjcttext h3{ font-size: 73px; color: #c0cfdf; }


.acrition-section{ padding: 120px 0; }
.acrition-section .bannertext{ text-align: center;}
.acrition-section .bannertext p{ max-width: 100%;}
.acrition-logos{ margin-top: 70px;}
.acrition-logos ul{ display: flex; justify-content: center; align-items: end;}
.acrition-logos ul li{ list-style: none; max-width: 150px; margin: 0 15px;}
.acrition-logos ul li img{ width: 100%;}


.footer{ position: relative; background-color: #ecf8f7; padding-top: 100px; padding-bottom: 30px; z-index: 4;}
.footer .shapes{ top: 0; z-index: 0;}
.footer .shapes.left{}
.footer .shapes img{ height: 100%; object-fit: cover;}
.ftr-content{ position: relative; z-index: 1; margin-bottom: 50px;}
.ftrinfwrow{ justify-content: space-between;}
.ftrlogo{}
.ftrlogo img{}
.ftrinfos{}
.ftr-col{}
.ftritm{}
.ftritm h4{ color: #000000; font-size: 22px; margin-bottom: 20px;}
.ftr-conctinfo{}
.ftr-conctinfo p{ font-family: "Evogria"; color: #4e7571;}
.ftr-conctinfo p.phnumr{ font-size: 24px; font-weight: 500; margin-bottom: 5px;}
.ftr-conctinfo p.email{ font-size: 19px;  font-weight: 500;}
.ftr-adrs{}
.ftr-adrs p{ color: #7f8ca6; font-size: 19px;}
.ftrscl{}
.ftrscl p{ margin-bottom: 10px;}

.copyright{ display: flex; justify-content: space-between; position: relative; z-index: 1;}
.copyright p{ color: #233130; font-size: 14px; letter-spacing: 1px;}
